$start : #ffcd00;
@font-face {
    font-family: 'Muli', sans-serif;
    src: url(../styles/fonts/muli/Muli-Regular.ttf)
}
@font-face {
    font-family: 'HKGrotesk', sans-serif;
    src: url(../styles/fonts/KkGrotesk/HKGrotesk-Regular.otf)
}
@font-face {
    font-family: 'Karla', sans-serif;
    src: url(../styles/fonts/Karla/Karla-Regular.woff)
}